Hello and welcome to python3 cheat sheet.

My name is Pritam from pritamc.com.
Below you find one of the easy to understand and easy to go with python cheat sheets. I’ve combined together the code and explanation for those who are beginning with the python. I’ve covered the fundamentals of python programming that can help you get started.

Each topic is explained with a practical example you can try it your own. You can copy the code and play with it. I would love to hear your feedback so don’t give a second thought before writing me at pritamchougale@gmail.com If you want the code you can find it on my GitHub.

Find more of the resources at pritamc.com . So without any further ado let’s get started. 
*NOTE: '#' stands for comments in python*

# **1. Python Basics**

- **Math Operator**

In [ ]:
2 ** 3 #Exponent

8

In [ ]:
22 % 8 #Modulus/Remaider

6

In [ ]:
22 // 8 #Integer division

2

In [ ]:
22 / 8 #Division

2.75

In [ ]:
3 * 3 #Multiplication

9

In [ ]:
5 - 2 #Subtraction

3

In [ ]:
2 + 2 #Addition

4

- **Data Types** 
  - Integers: -2, -1, 0, 1, 2, 3, 4, 5
  - Floating-point numbers: -1.25, -1.0, --0.5, 0.0, 0.5, 1.0, 1.25
  - Strings: 'a', 'aa', 'aaa', 'Hello!', '11 cats'

In [ ]:
#String concatenation
'Pritam'+'Chougale'

'PritamChougale'

In [ ]:
#String Replication
'Pritam ' * 5

'Pritam Pritam Pritam Pritam Pritam '

- **Variables** <br>
There are some rules that we use to define a variable in python. Such as
  - It can be only one word.
  - It can use only letters, numbers, and the underscore (_) character.
  - It can’t begin with a number.
  - Variable name starting with an underscore (_) are considered as "unuseful` <br><br>
Examples below

In [ ]:
temp = 'this is a string'
temp

'this is a string'

In [ ]:
_temp = 23454
_temp

23454

In [ ]:
temp3 = 'this is a third variable with number in a name'
temp3

'this is a third variable with number in a name'

In [ ]:
#this will give error 
34temp = 'variable starting with number'

SyntaxError: ignored

- **Comments**

In [ ]:
#this line won't be printed 
print('while this will get printed')
#this is a 
#multi-line comment

while this will get printed

In [ ]:
#Below is another type of comment , it is called function docstring: it is same as multiline comment
def sample(): 
  """
  this will not be executed
  """

- **The print() function**

In [ ]:
print('Print function is used to promt message on the user screen')
print("it can also be used with double quotes")
temp = 416
print('the above temp variable holds:', temp)

Print function is used to promt message on the user screen
it can also be used with double quotes
the above temp variable holds: 416

- **The input() function**
  - It is used to take input from the user.

In [ ]:
#addition of two numbers input by user
print('Enter First number')
number1 = input()
print('Enter Second number')
number2 = input()
print('Addition: ', number1 + number2)

Enter First number
34
Enter Second number
3
Addition:  343

- **The len() function**
  - It Used to find the length of a string

In [ ]:
name = 'pritam chougale'
len(name)

15

- **The str(), int(), and float() Functions**

In [ ]:
#str() used to convert string to int
str(54) # will return a string

'54'

In [ ]:
#int() to convert string to int
print('I am {} years old.'.format(str(29)))

I am 29 years old.

# **2. Flow Control**

- **Comparison Operators**
  - These operators evaluate to True or False depending on the values you give them.

In [ ]:
# == equal to operator 
12 == 12

True

In [ ]:
# != not equal to operator 
12 != 12

False

In [ ]:
# < less than operator 
12 < 20

True

In [ ]:
# > greater than operator 
12 > 20

False

In [ ]:
# <= less than or equal to 
12 <= 12

True

In [ ]:
# >= greater than or equal to 
12 >= 15

False

- **Boolean operators**
  - There are three Boolean operators: AND, OR, and NOT.

  - AND operator truth table evaluation
    - True AND True = True
    - True AND False = False 
    - False AND True = False
    - False AND False = False

- OR operator truth table evaluation
  - True OR True = True
  - True OR False = True
  - False OR True = True
  - False OR False = False

- NOT operator truth table evaluation
  - Not True = False
  - Not False = True

- **Mixing comparison and boolean operators**

In [ ]:
(4 < 5) and (5 < 6)

True

In [ ]:
(4 < 5) and (9 < 6)

False

In [ ]:
(1 == 2) or (2 == 2)

True

In [ ]:
2 + 2 == 4 and not 2 + 2 == 5 and 2 * 2 == 2 + 2

True

- **if statements**
  - Evaluates if certain condition is true

In [ ]:
if (2 == 2):
  print('this is true')

this is true

- **else stalement**
  - when if condition is false then else block is executed

In [ ]:
name  = 'Pritam'
if (name == 'aarti'):
  print('Hello', name)
else:
  print('Hey!', name)

Hey! Pritam

- **While loop**
  - executies when if a certain condition is true

In [ ]:
spam = 0
while spam < 5: # when this condition is false it will exit out of the block 
    print('Hello there!')
    spam = spam + 1 #incrementing the variable by one

Hello there!
Hello there!
Hello there!
Hello there!
Hello there!

- **Break Statement**

In [ ]:
while True:
  print('Enter your name:')
  name = input()
  if name == 'pritam':
    break
print('Thank you', name)

Enter your name:
aarti
Enter your name:
pritam
Thank you pritam

- **Continue Statement**
  - When program execution reach the continue statement it is  immediately jumps back to the start of the loop

In [ ]:
while True:
  print('Enter your name:')
  name = input()
  if(name != 'pritam'):
    continue
  print('Hey, Pritam. Enter the passwrd.(It is a fruit!)')
  password = input()
  if password == 'Mango':
    break
print('Welcome, Access Grannted!', name)

Enter your name:
pritam
Hey, Pritam. Enter the passwrd.(It is a fruit!)
grape
Enter your name:
pritam
Hey, Pritam. Enter the passwrd.(It is a fruit!)
Mango
Welcome, Access Grannted! pritam

- **For loop and range function**

In [ ]:
print('Hello there,')
for i in range(5):
  print('Pritam Chougale')

Hello there,
Pritam Chougale
Pritam Chougale
Pritam Chougale
Pritam Chougale
Pritam Chougale

In [ ]:
#for with 3 arguments where first two are start and stop and third being step
for i in range(1,10,2):
  print('Hello, World!')

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

- **Importing Modules**

In [ ]:
#importing the random module and printing the random integers 
import random
for i in range(5):
  print(random.randint(1,10))

10
9
9
1
10

# **3.Functions**

- **Defining a function and passing arguments to it**

In [ ]:
def your_name(name):
  print('hello', name)

your_name('arti')

hello arti

- **Return value and return statement**
    - See below code to understand this better. I've created a tiny fun activity that generates random number and tells the fun fact about the number.

In [ ]:
# Try running the code mullitple time to get new fun fact every time
import random 
def getFunFact(funNumber):
  if funNumber == 1:
    return 'Banging your head against a wall for one hour burns 150 calories!'
  elif funNumber == 2:
    return 'In Switzerland it is illegal to own just one guinea pig!'
  elif funNumber == 3:
    return 'Pteronophobia is the fear of being tickled by feathers.!'
  elif funNumber == 4:
    return 'Snakes can help predict earthquakes!'
  elif funNumber == 5:
    return 'A flock of crows is known as a murder!'
  elif funNumber == 6:
    return '29th May is officially “Put a Pillow on Your Fridge Day!'
  elif funNumber == 7:
    return 'If you lift a kangaroo’s tail off the ground it can’t hop!'
  elif funNumber == 8:
    return 'Bananas are curved because they grow towards the sun!'
  elif funNumber == 9:
    return 'Movie trailers were originally shown after the movie, which is why they were called “trailers!'
  
r = random.randint(1,9)
funFact = getFunFact(r)
print(funFact)

Banging your head against a wall for one hour burns 150 calories!

- **Keyword arguments**

In [ ]:
print('Hello', end='')
print('World')

HelloWorld

In [ ]:
print('cats', 'dogs', 'mice', sep=',')

cats,dogs,mice

- **Local & global scope**
  - When working with functions it is important to understand the local and global scope

In [ ]:
def spam():
  global eggs
  eggs = 'spam'

eggs = 'global'
spam()
print(eggs)

spam

# **4. Exception handling**

- **Basic Exception handling**

In [ ]:
def spam(divideBy):
  try:
    return 51 / divideBy
  except ZeroDivisionError as e:
    print("Error invalid argument: {}".format(e) )

print(spam(2))
print(spam(13))
print(spam(0)) #this will give an error

25.5
3.923076923076923
Error invalid argument: division by zero
None

- **Final code in exception handeling**
  - Code inside the finally section is always executed.

In [ ]:
def spam(divideBy):
  try:
    return 51 / divideBy
  except ZeroDivisionError as e:
    print("Error invalid argument: {}".format(e) )
  finally: 
    print("--Operation complete--")

print(spam(2))
print(spam(13))
print(spam(0)) #this will give an error

--Operation complete--
25.5
--Operation complete--
3.923076923076923
Error invalid argument: division by zero
--Operation complete--
None

# **5.Python Lists**

- **Indexing in a List**

In [ ]:
animals = ['Cat', 'Dog', 'Cow', 'Tiger', 'Wolf', 'Lion'] #this will create a list 
animals

['Cat', 'Dog', 'Cow', 'Tiger', 'Wolf', 'Lion']

Now let's see how we can get ndividual Values in a List with Indexes. In python index starts at 0

In [ ]:
animals[4] #this will give 4th position element

'Wolf'

- **Negative Indexing**
  - It works as below , <br>
[-5, -4, -3, -2, -1, 0] <br>
[Dog, COw, TIger, Wolf, LIon, Cat]

In [ ]:
animals[-5]

'Dog'

- **Slicing for in a python List**

In [ ]:
#getting elements between 2 and 5 position
animals[2:5]

['Cow', 'Tiger', 'Wolf']

# **6. String and Dictionaries**
String is a important concept in python and it sets python apart from other programming languages. 

In this section I'll cover python's inbuilt string manupulation and string formating methods.

- **String Syntax**
  - You have already seen the strings. In python strings can be defined using single or double quotes

In [7]:
myString = 'Hello, my name is Pritam'
yourString = "Your name is Sourabh"

print(myString)
print(yourString)

Hello, my name is Pritam
Your name is Sourabh

*Note:* Double quotes are useful when there is a single quote inside a string. see examples below , similarly if we want to use double quotes inside a string we wrap it in single quotes as shown in below examples.

In [10]:
WhoAreYou = "I am sourab's brother"
print(WhoAreYou)
myBro = 'My little brother is "Sourabh" '
print(myBro)

I am sourab's brother
My little brother is "Sourabh"

- **Strings as a sequences**
    - strings can be considered as a sequence of a characters. We have seen the operatons on the list most of the operation we can do on the list as well.

In [11]:
#indexing 
name = 'Sourabh'
name[2]

'u'

In [12]:
#slicing
name[:-3]

'Sour'

In [13]:
#string length
len(name)

7

In [14]:
#looping through the string 
[char+'@ ' for char in name]

['S@ ', 'o@ ', 'u@ ', 'r@ ', 'a@ ', 'b@ ', 'h@ ']

*Note:* Strings are immutable, this means we can not modify them.

In [15]:
#trying to append a character
name[6] = 'A'

TypeError: ignored

In [16]:
#append doesn't work either
name.append(A)

AttributeError: ignored

- **String methods**
    - String has some useful methods, let's see few here.

In [19]:
# ALL CAPS
name = 'PritAm'
name.upper()

'PRITAM'

In [20]:
#all lower
city = 'PUNE'
city.lower()

'pune'

In [22]:
#searching the index of substring
MLE = 'Machine Learning Engineer'
MLE.index('Eng')

17

In [25]:
MLE.startswith('Ma')

True

In [26]:
MLE.endswith('pr')

False

- **split() and join() method with string**
  - split() turns the string into a smaller string breaking on whitespace bydefault. see below code

In [28]:
learn = 'I am learning the machine learning with python'
learn.split()

['I', 'am', 'learning', 'the', 'machine', 'learning', 'with', 'python']